<footer id="footer">
  <div id="description">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.producteur }} <br>{{ site.producteur_complement }}</h2>
    <h3>{{ site.author.name }}</h3>
    <h3 class="photographe">{% include i18n.html key="Photographies" %} : {{ site.author.photograph }}</h3>
  </div>
  <div id="details">
      <div id="notice">
        <p id="citation-footer"><span class="caps">{{ site.author.name_id }}</span>{% if page.author %} et <span class="caps">{{ page.author_id }}</span>, {% else %}, {% endif %}<em>{{ site.title_complet }}</em>, {{ site.place }}, {{ site.date }}, {% include i18n.html key="en ligne" %} &lt;{{ site.url }}{{ site.baseurl }}&gt;.</p>
        <p>ISBN&nbsp;: {{ site.isbn_numerique }}</p>
        {% if site.licence %}
        <p id="licence">{{ site.date }}, <a href="{{ site.licence_url }}">{{ site.licence }}</a></p>
        {% endif %}
        {% if site.licence_img %}
        <img
          id="licence-img"
          src="{{ site.licence_img }}"
          alt="{{ site.licence | default: 'Licence' }}"
        >
        {% endif %}
      </div>

    <div id="liens-footer">
      <p><a href="{{ site.baseurl }}/bibliographie/">{% include i18n.html key="Bibliographie" %}</a></p>
      <p><a href="{{ site.baseurl }}/a-propos/">{% include i18n.html key="À propos" %}</a></p>
      <p><a href="{{ site.baseurl }}/mentions-legales/">{% include i18n.html key="Mentions légales" %}</a></p>
      <p><a href="{{ site.baseurl }}/contact/">{% include i18n.html key="Contact" %}</a></p>
    </div>

  </div>


</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141498933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141498933-1');
</script>
</body>
</html>
