  <header id="main-header">
    <section id="section-navigation">
      <input type="radio" id="open-menu" name="toggle-menu" value="open">
      <label id="label-open-menu" for="open-menu">{% include icons/menu.svg %}</label>
      <nav id="nav-catalogue" >
        <input type="radio" id="close-menu" name="toggle-menu" value="close" checked>
        <label for="close-menu" id="label-close-menu">{% include icons/close.svg %}</label>
        <h1><a href="{{ site.url | append: site.baseurl }}/">{% include i18n.html key="Titre_principal_html" %}</a></h1>
        <h2>{{ site.producteur }}</h2>

        <!-- Language switcher -->
        <ul class="nav-langs">

          {% if site.locale == "en_EN" %}
          <li class="nav-lang-item">
            <a class="nav-lang-switcher" href="{{ site.url }}{{ page.url | replace: 'index', '' }}" rel="alternate" lang="fr">Français</a>
          </li>
          {% else %}
          <li class="nav-lang-item">
            <span class="nav-lang-switcher current">Français</span>
          </li>
          {% endif %}
          {% if site.locale == "fr_FR" %}
          <li class="nav-lang-item">
            <a class="nav-lang-switcher" href="{{ site.url | append: '/en' }}{{ page.url }}" rel="alternate" lang="en">English</a>
          </li>
          {% else %}
          <li class="nav-lang-item">
            <span class="nav-lang-switcher current">English</span>
          </li>
          {% endif %}

        </ul>

      <ul>
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}<li class="li-nav-chapter {% if page.partie == 1 %}current{% endif %}">
          <a href="{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}<li class="li-nav-chapter {% if page.partie == 2 %}current{% endif %}">
          <a href="{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}<li class="li-nav-chapter {% if page.partie == 3 %}current{% endif %}">
          <a href="{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}<li class="li-nav-chapter {% if page.partie == 4 %}current{% endif %}">
          <a href="{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        <li class="li-nav-aside {% if page.def == "bibliographie" %}current{% endif %}" id="link-bilio"><a href="{{ site.url | append: site.baseurl }}/bibliographie/"><span class="title-partie">{% include i18n.html key="Bibliographie" %}</span></a></li>
        <li class="li-nav-aside {% if page.def == "a_propos" %}current{% endif %}"><a href="{{ site.url | append: site.baseurl }}/a-propos/"><span class="title-partie">{% include i18n.html key="À propos" %}</span></a></li>
        <li class="li-nav-aside {% if page.def == "mentions_legales" %}current{% endif %}"><a href="{{ site.url | append: site.baseurl }}/mentions-legales/"><span class="title-partie">{% include i18n.html key="Mentions légales" %}</span></a></li>
        <li class="li-nav-aside {% if page.def == "contact" %}current{% endif %}"><a href="{{ site.url | append: site.baseurl }}/contact/"><span class="title-partie">{% include i18n.html key="Contact" %}</span></a></li>
      </ul>
    </nav>
      <nav id="nav-chemin">
        <ul>
          <li><span><a href="{{ site.url | append: site.baseurl }}/">{% include i18n.html key="Catalogue" %}</a></span></li>

         {% if page.type == "partie" %}
         <li><span>
           {% if page.partie == 1 %}{% include i18n.html key="Partie" %} 1{% endif %}
           {% if page.partie == 2 %}{% include i18n.html key="Partie" %} 2{% endif %}
           {% if page.partie == 3 %}{% include i18n.html key="Partie" %} 3{% endif %}
           {% if page.partie == 4 %}{% include i18n.html key="Partie" %} 4{% endif %}
          </span></li>
        {% else %}
          {% if page.partie == 1 %}<li><span><a href="{{ site.baseurl }}/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}{{ contenus.slug }}/{% endif %}{% endfor %}">{% include i18n.html key="Partie" %} 1</a></span></li>{% endif %}
          {% if page.partie == 2 %}<li><span><a href="{{ site.baseurl }}/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}{{ contenus.slug }}/{% endif %}{% endfor %}">{% include i18n.html key="Partie" %} 2</a></span></li>{% endif %}
          {% if page.partie == 3 %}<li><span><a href="{{ site.baseurl }}/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}{{ contenus.slug }}/{% endif %}{% endfor %}">{% include i18n.html key="Partie" %} 3</a></span></li>{% endif %}
          {% if page.partie == 4 %}<li><span><a href="{{ site.baseurl }}/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}{{ contenus.slug }}/{% endif %}{% endfor %}">{% include i18n.html key="Partie" %} 4</a></span></li>{% endif %}
        {% endif %}


          {% if page.type == "notice" %}<li><span>{{ page.title }}</span></li>{% endif %}{% if page.type == "statique" %}<li><span>{{ page.title }}</span></li>{% endif %}
        </ul>
      </nav>
      <nav id="nav-parties">
        {% if page.type == "partie" %}<ul>{% if page.partie == 1 %}
          <li><a href="{{ site.baseurl }}/"><span>⌂</span><span class="nav-partie"> {% include i18n.html key="Accueil" %}</span></a></li>
          <li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 2 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span class="nav-partie">{% include i18n.html key="Partie suivante" %} </span><span>→</span></a></li>{% endif %}{% if page.partie == 2 %}<li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 1 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Partie précédente" %}</span></a></a></li>
          <li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 3 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span class="nav-partie">{% include i18n.html key="Partie suivante" %} </span><span>→</span></a></li>{% endif %}{% if page.partie == 3 %}<li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 2 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Partie précédente" %}</span></a></li>
          <li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 4 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span class="nav-partie">{% include i18n.html key="Partie suivante" %} </span><span>→</a></li>{% endif %}{% if page.partie == 4 %}<li><a href="{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie == 3 %}{{ site.url | append: site.baseurl }}/{{ contenus.slug }}/{% endif %}{% endfor %}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Partie précédente" %}</span></a></li>{% endif %}
        </ul>{% endif %}
        {% if page.type == "notice" and page.partie == 2 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","notice" | where:"partie","2" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="{{prevurl | prepend: site.baseurl}}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Notice précédente" %}</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="{{nexturl | prepend: site.baseurl}}"><span class="nav-partie">{% include i18n.html key="Notice suivante" %} </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}{% if page.type == "notice" and page.partie == 3 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","notice" | where:"partie","3" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="{{prevurl | prepend: site.baseurl}}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Notice précédente" %}</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="{{nexturl | prepend: site.baseurl}}"><span class="nav-partie">{% include i18n.html key="Notice suivante" %} </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}{% if page.type == "notice" and page.partie == 4 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","notice" | where:"partie","4" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="{{prevurl | prepend: site.baseurl}}"><span>←</span><span class="nav-partie"> {% include i18n.html key="Notice précédente" %}</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="{{nexturl | prepend: site.baseurl}}"><span class="nav-partie">{% include i18n.html key="Notice suivante" %} </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}
      </nav>
    </section>
  </header>
