/* Hair line */ 

@font-face {
    font-family: 'Lato';
    src: url('Lato-Hairline.eot');
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Lato-Hairline.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}



@font-face {
    font-family: 'Lato';
    src: url('Lato-HairlineItalic.eot');
    src: url('Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-HairlineItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}


/* Light */ 


@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.eot');
    src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato-LightItalic.eot');
    src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}


/* Regular */ 


@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato-Italic.eot');
    src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lato-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}




/* Bold */ 

@font-face {
    font-family: 'Lato';
    src: url('Lato-Bold.eot');
    src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-BoldItalic.eot');
    src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}


/* Black*/ 

@font-face {
    font-family: 'Lato';
    src: url('Lato-Black.eot');
    src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato-BlackItalic.eot');
    src: url('Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lato-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

