$width-img-couv:40vw;


#header-catalogue{
  background-color: $beige;
  border-bottom: 1px solid $beige-border;
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  hgroup {
    margin-top: auto;
  }


  h1{
    font-family: $font-identity;
    font-weight: 200; 
    text-transform: uppercase;
    margin-top: auto;
  }


  h2{
    font-family: $font-identity;
    font-weight: 200;
  }

  h3{
    @include sserif-18();
    font-weight: 400;
    padding: 20px 0;
  }

  .header-catalogue-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-navbar{
    @include sserif-18();
    color: $text-color-fonce;
  }

  .collection {
    max-width: 180px;
    border-left: 1px solid $text-color;
    padding: 0px 15px;
  }

  .home-lang-list {
    margin: 0;
    padding: 0;
    @include sserif-14();
  }

  .home-lang-item {
    margin-bottom: .05em;
  }

  .home-lang-switcher {
    display: inline-block;
    opacity: .6;
    transition: opacity .25s;
    &:hover {
      opacity: .95;
      color: inherit;
    }
    &.current {
      cursor: default;
      opacity: 1;
      font-weight: 700;
    }
  }

  figure{
    overflow: hidden;
    z-index: 10;

    img{
      display: block;
      width: 100%;
      height: 140%;
      object-fit: cover;
      object-position: top center;
    }

  }

  .icon-scroll {
    position: absolute;
    bottom: $margin-desktop;
    right: $margin-desktop;
    // left: calc(#{$width-img-couv} + #{$baseline}*2);
  }

}

@include for-size(phone){

  #header-catalogue{

    figure {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: hidden;

      img{
        width: 100%;
        height: 180%;
        object-position: top center;
      }

    }

    .header-catalogue-content {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: $margin-phone;
      z-index: 90;
      color: white;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9));
      text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
    }
    
    .home-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      z-index: 90;

      color: white!important;
      border-left: 1px solid white!important;
    }

    .collection{
      max-width: 200px;
      margin-right: 1em;
    }
    
    .home-lang-list {
    }

    .home-lang-item {
    }

    .home-lang-switcher {
    }

    h1{
      @include bellaza-32();
      line-height: 36px;
      padding-bottom: $baseline*2;
      padding-top: $baseline*2;
    }

    h2{
      @include bellaza-24();
      padding-bottom: $baseline*0.5;
    }

    h3{
      padding-bottom: $baseline*6;
    }

    .icon-scroll{ display: none; }
    
  }


}


// @media screen and (min-width: 430px) and (max-width: 700px){
//   #header-catalogue figure img{ 
//     object-position: top center!important;
//     width: 100%; 
//   }
// }



@include for-size(desktop){


  #header-catalogue {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .header-catalogue-content{
      order: 2;
      padding: $margin-desktop $margin-desktop 0;
    }

    figure{
      order: 1;
      width: 40%;
      flex: 1 0 40%;
      height: 100%;
    }

    hgroup {
    }

    h1{
      @include bellaza-48();
      line-height: 52px;
    }

    h2{
      @include bellaza-32();
      margin-top: $baseline*4;
      
    }

    h3{
      margin-top: $baseline*1.5;
    }
    
  
    //h1, h2, h3{
    //  margin-left: calc(#{$width-img-couv} + #{$baseline}*4);
    //  max-width: 850px;
    //}

    
    .home-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .collection {
      order: 1;
    }

    .home-lang-list {
      order: 2;
      margin-top: .5em;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .home-lang-item {
      padding: 0 .5em;
      line-height: 1; // cancel line-height
      border-left: 1px solid rgba(0, 0, 0, .5);

      &:first-child {
        border-left: 0;
      }
    }

    .icon-scroll {
      position: absolute;
      bottom: $margin-desktop;
      right: $margin-desktop;
      // left: calc(#{$width-img-couv} + #{$baseline}*2);
    }

  }

  
}


@include for-size(min-pad){

  #header-catalogue{
    h1{
      font-size: calc(48px + 1vw);
      line-height: calc(48px + 1vw);
    }

    h2{
      margin-top: $baseline*4;
      font-size: calc(32px + 1vw);
      line-height: calc(32px + 1vw);
    }

    h3{
      font-size: calc(10px + .5vw);
      line-height: calc(10px + .5vw);
    }
  }
}



@media screen and (min-height: 900px){
  //#header-catalogue h1{ padding-top: 45vh; }
}

@media screen and (min-width: 2200px){
  #header-catalogue{
    h1{
      font-size: 85px; 
      line-height: 90px; 
      
    }

    h2{
      margin-top: $baseline*4;
      font-size: 60px; 
      line-height: 60px;
    }
  
    h3{
      font-size: 28px;
      line-height: 28px;   
    }

    h1, h2, h3{ 
      max-width: 1000px;
    }
  }

}
