.liminaire {
  padding-top: $margin-phone;
  padding-bottom: $margin-phone;
  @include for-size(desktop) {
    padding-top: $margin-desktop;
    padding-bottom: $margin-desktop;

  }
  //background-color: white;
  background-color: $beige;
  border-bottom: 1px solid $beige-border;

  .liminaire-content {
    max-width: 780px + 340px + $margin-desktop;
    margin: 0 auto;
    padding-left: $margin-phone;
    padding-right: $margin-phone;

    @media (min-width: 60rem) {
      margin-left: 40vw;
    }

    @include for-size(desktop) {
      padding-left: $margin-desktop;
      padding-right: $margin-desktop;
    }
  }

  .content {
    position: relative;

    h3 {
      @include sserif-18-uppercase();
      line-height: $p-line-height-desktop;
      padding-top:  $baseline*7.5;
      margin-bottom: $baseline*2.5;
    }

    h4 {
      @include labeur-dektop();
      font-style: italic;
      padding-top:  $p-line-height-desktop*2;
      margin-bottom: $p-line-height-desktop*1;
      &:target{ padding-top: $height-section-navigation + $p-line-height-desktop*3; }
    }

    .biblio-inline {
      position: absolute;
      left: 850px;
      width: 300px;
      @include sserif-14();
      line-height: $baseline*2*0.6;
      &::before{ content: "← "}
    }

    strong {
      font-weight: 400;
      // color: $beige-fonce;
      color: red;
    }

    @include for-size(phone) {

      margin: $baseline*4 $margin-phone;

      p, li{ @include labeur-phone(); }

      p{ margin-bottom: $baseline*2; }
    }

    @include for-size(desktop) {
      max-width: 780px;
      margin-right: $margin-desktop;
      margin-top: $baseline*5;
      margin-bottom: $baseline*5;

      p, li {
        @include labeur-dektop();
      }

      p {
        margin-bottom: $baseline*2.5;
        text-align: justify;
      }
    }
  }
}
